.advantages {
  background-color: #f2f2f2;
}

.advantages__list {
  .list-normalize();
}

.advantages__title {
  font-size: 18px;
  font-weight: @font-weight-bold;
  line-height: 24px;
  color: #000000;
}

.advantages__text {
  font-size: 14px;
  font-weight: @font-weight-normal;
  line-height: 24px;
}
