.gallery__figure {
  margin: 0;

  &--best {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    &--best {
      margin-bottom: 50px;
      width: 100%;
    }
  }
}

.gallery__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 54px;
  }
}

.gallery__figcaption {
  background-color: #f2f2f2;
}

.gallery__name {
  font-size: 14px;
  font-weight: @font-weight-bold;
  line-height: 24px;
  color: #283645;
}

.gallery__time {
  font-size: 12px;
  font-weight: @font-weight-light;
  line-height: 24px;
  color: #283645;
  text-transform: uppercase;
}

.gallery__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}

.gallery__count {
  font-size: 12px;
  font-weight: @font-weight-normal;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
