.gallery__figure {
  margin: 0 auto;

  &--best {
    margin-bottom: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    &--best {
      margin-bottom: 50px;
      width: 660px;
      max-width: 1200px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.gallery__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 640px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 54px;
    width: 940px;
  }
}

.gallery__figcaption {
  padding: 25px 17px;
  background-color: #f2f2f2;

  &--best {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    &:not(&--best) {
      width: 300px;
    }

    &--best {
      width: 620px;
      display: grid;
      grid-template-columns: 140px 140px;
      column-gap: 302px;
    }
  }

  @media (min-width: @desktop-width) {
    &--best {
      width: 940px;
      column-gap: 624px;
    }
  }
}

.gallery__image {
  .image-normalize ();
  position: relative;
  bottom: -13px;
}

.gallery__autor {
  .indent-normalize();
}

.gallery__name {
  font-size: 14px;
  font-weight: @font-weight-bold;
  line-height: 24px;
  color: #283645;
}

.gallery__time {
  font-size: 12px;
  font-weight: @font-weight-light;
  line-height: 24px;
  color: #283645;
  text-transform: uppercase;
}

.gallery__description {
  .indent-normalize();
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    &--best {
      grid-column: ~ "1/-1";
      grid-row: ~ "2/3";
      margin-bottom: 0;
    }

    &:not(&--best) {
      min-height: 48px;
    }
  }
}

.gallery__likes {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 100%;
    justify-content: space-between;
  }
}

.gallery__like {
  width: 13px;
  height: 12px;
  margin-right: 18px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icons/heart.svg");
  background-position: center;
  background-repeat: no-repeat2;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.gallery__count {
  font-size: 12px;
  font-weight: @font-weight-normal;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
