.main-content__titles {
  background-color: #ffffff;
  padding: 46px 0 36px 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 58px 20px 47px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 20px 72px 20px;
  }
}

.main-content__title {
  .indent-normalize();

  &:nth-child(1) {
    max-width: 210px;
  }

  &:nth-child(2) {
    margin-top: 44px;
  }

  @media (min-width: @tablet-width) {
    &:nth-child(2) {
      margin-top: 5px;
    }

    &:nth-child(1) {
      max-width: 700px;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(1) {
      max-width: 900px;
    }
  }
}

.main-content__subtitle-wrapper {
  margin: 55px 0;

  @media (min-width: @tablet-width) {
    margin: 100px auto 82px auto;
    display: flex;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    margin: 99px auto 96px auto;
  }
}

.main-content__subtitle {
  .indent-normalize();
  font-size: 14px;
  font-weight: @font-weight-normal;
  line-height: inherit;
  color: #283645;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 492px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 756px;
  }
}

.main-content__ask {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
