.page-header {
  background-color: #1d2631;
  background-image: url("../../img/back-mobile.png");
  .indent-normalize ();
}

.page-header__main-menu {
  background-color: rgba(0, 0, 0, 0.3);

  &--opened-nav {
    background-color: #283645;
  }
}
