.photo-edit {
  background-color: #f2f2f2;
}

.photo-edit__button {
  font-size: 18px;
  font-weight: @font-weight-bold;
  line-height: 18px;
  background-color: transparent;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 30px;

  &--reset {
    color: #283645;
    border: 3px solid #283645;
    border-radius: 30px;
  }

  &:disabled {
    opacity: 0.1;
  }
}
