.price-rates {
  background-color: #f2f2f2;
  min-width: 100%;
  background-image: url("../img/icons/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% 25px;
  background-position: top center;

  @media (min-width: @tablet-width) {
    background-size: 100% 50px;
  }

  @media (min-width: @desktop-width) {
    background-size: 100% 80px;
  }
}

.price-rates__wrapper {
  width: 276px;
  padding: 101px 50% 46px 50%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    padding: 101px 20px 70px 20px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding: 159px 0 98px 0;
    width: 940px;
  }
}

.price-rates__table {
  position: relative;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    transform: none;
    border-spacing: 0;
    position: static;
    transition: none;
  }

  transition: all 1s ease;
}

.price-rates__caption {
  background-color: #283645;
  min-width: 276px;
  padding: 19px 0 33px 0;
  border: 2px solid #283645;
  border-radius: 2px 2px 0 0;

  &--blank {
    background-color: transparent;
    display: none;
    border: none;
  }

  @media (min-width: @tablet-width) {
    &--blank {
      display: inline-block;
    }
    padding: 10px 0 10px 0;
    min-width: 152px;

    &:not(:last-child) {
      border-right: 2px solid #e5e5e5;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 23px 0 23px 0;
    min-width: 233px;
  }
}

.price-rates__row:nth-child(1) .price-rates__cell:nth-child(1) {
  border-top: 2px solid #e5e5e5;
  border-radius: 3px 0 0 0;
}

.price-rates__rate {
  font-size: 16px;
  font-weight: @font-weight-bold;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price-rates__price {
  font-size: 18px;
  font-weight: @font-weight-light;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.price-rates__cell {
  position: relative;
  background-color: #ffffff;
  padding: 16px;
  text-align: right;

  &:first-child {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding: 9px 0;
    text-align: center;

    &:first-child {
      height: 55px;
      display: inline-block;
      width: 100%;
      padding-left: 17px;
      text-align: left;
      border-left: 2px solid #e5e5e5;
      border-bottom: 2px solid #e5e5e5;
      border-radius: 0 0 0 3px;
    }

    &:nth-child(2) {
      border-left: 2px solid #e5e5e5;
      border-right: 2px solid #e5e5e5;
      border-bottom: 2px solid #e5e5e5;
    }

    &:nth-child(3) {
      border-right: 2px solid #e5e5e5;
      border-bottom: 2px solid #e5e5e5;
    }

    &:last-child {
      border-right: 2px solid #e5e5e5;
      border-bottom: 2px solid #e5e5e5;
      border-radius: 0 0 3px 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 16px 0;

    &:first-child {
      padding-left: 22px;
      height: 70px;
    }
  }
}

.price-rates__availability {
  display: inline-block;
  background-repeat: no-repeat;

  &--yes {
    background-image: url("../img/icons/yes.svg");
    width: 31px;
    height: 27px;
    background-position: left bottom;
  }

  &--no {
    background-image: url("../img/icons/no.svg");
    width: 27px;
    height: 27px;
    background-position: left center;
  }

  @media (min-width: @tablet-width) {
    &--no {
      transform: translateY(4px);
    }
  }
}

@media (max-width: @mobile-width-max) {
  .price-rates__availability::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 14px;
    font-weight: @font-weight-normal;
    line-height: 30px;
    color: #283645;
    text-transform: uppercase;
  }

  .price-rates__row:nth-child(1) .price-rates__availability::before {
    content: "Розовый фильтр";
  }

  .price-rates__row:nth-child(2) .price-rates__availability::before {
    content: "Смайлики";
  }

  .price-rates__row:nth-child(3) .price-rates__availability::before {
    content: "Комментарии";
  }
}

.price-rates__attribute {
  font-size: 14px;
  font-weight: @font-weight-normal;
  line-height: 30px;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price-rates__toggles {
  .indent-normalize();
  display: flex;
  align-self: center;
  margin-top: 45px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
