* {
  box-sizing: border-box;
}
.page {
  height: 100%;
}
.page__body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  background-color: #ffffff;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/opensans.woff2") format("woff2"), url("../../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/opensansbold.woff2") format("woff2"), url(../../fonts/opensansbold.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/opensanslight.woff2") format("woff2"), url("../../fonts/opensanslight.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  padding: 0 20px;
}
@media (min-width: 660px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}
.page-header {
  margin: 0;
  padding: 0;
  background-color: #1d2631;
  background-image: url("../../img/back-mobile.png");
  position: relative;
}
.page-header__main-menu-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}
.page-header__main-menu-wrapper--opened-nav {
  background-color: #283645;
  border-bottom: 1px solid #000000;
}
.page-header__main-menu {
  display: flex;
}
.page-header__logo-wrapper {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 660px) {
  .page-header__logo-wrapper {
    height: 110px;
  }
}
.page-header__toggle {
  width: 50px;
  height: 24px;
}
@media (min-width: 1200px) {
  .page-header__toggle {
    display: none;
  }
}
.page-header__wrapper {
  margin-top: 29px;
}
@media (min-width: 660px) {
  .page-header__wrapper {
    margin-top: 74px;
  }
}
@media (min-width: 1200px) {
  .page-header__wrapper {
    margin-top: 98px;
  }
}
.page-header__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #ffffff;
}
.main-nav {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 66px;
  background-color: #283645;
}
.main-nav--opened {
  display: flex;
}
@media (min-width: 660px) {
  .main-nav {
    top: 110px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    position: static;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
}
.main-nav__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .main-nav__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 620px;
    flex-wrap: wrap;
  }
}
.main-nav__item {
  padding: 25px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
}
@media (min-width: 1200px) {
  .main-nav__item {
    border: none;
    padding: 0;
  }
}
.main-nav__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
}
.app-download {
  display: flex;
  flex-direction: column;
}
@media (min-width: 660px) {
  .app-download {
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .app-download {
    align-items: flex-start;
  }
}
.app-download__wrapper {
  padding: 28px 0 38px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 660px) {
  .app-download__wrapper {
    padding: 0 0 119px 0;
    align-items: flex-start;
    width: 308px;
  }
}
@media (min-width: 1200px) {
  .app-download__wrapper {
    padding: 0 0 130px 0;
    align-items: flex-start;
    width: 308px;
  }
}
.app-download__slogan {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 320px;
}
@media (min-width: 660px) {
  .app-download__slogan {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 39px;
    margin-top: 28px;
    width: 308px;
    align-self: flex-start;
  }
}
@media (min-width: 1200px) {
  .app-download__slogan {
    font-size: 50px;
    line-height: 68px;
    margin-top: 16px;
    margin-bottom: 51px;
    width: 308px;
  }
}
.app-download__button {
  text-decoration: none;
  display: inline-block;
  background: transparent;
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  width: 100%;
  padding: 18px 35px;
  border: 3px solid #ffffff;
  border-radius: 29px;
  margin-bottom: 32px;
}
@media (min-width: 660px) {
  .app-download__button {
    margin-bottom: 46px;
  }
}
@media (min-width: 1200px) {
  .app-download__button {
    margin-bottom: 67px;
  }
}
.app-download__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  margin-bottom: 28px;
  justify-content: space-between;
}
@media (min-width: 660px) {
  .app-download__list {
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .app-download__list {
    margin-bottom: 58px;
  }
}
.app-download__info {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 660px) {
  .app-download__info {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .app-download__info {
    font-size: 18px;
  }
}
.main-content__titles {
  background-color: #ffffff;
  padding: 46px 0 36px 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 660px) {
  .main-content__titles {
    padding: 58px 0 47px 0;
  }
}
@media (min-width: 1200px) {
  .main-content__titles {
    padding: 77px 0 72px 0;
  }
}
.main-content__title {
  margin: 0;
  padding: 0;
}
.main-content__title:nth-child(1) {
  max-width: 210px;
}
.main-content__title:nth-child(2) {
  margin-top: 44px;
}
@media (min-width: 660px) {
  .main-content__title:nth-child(2) {
    margin-top: 5px;
  }
  .main-content__title:nth-child(1) {
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .main-content__title:nth-child(1) {
    max-width: 900px;
  }
}
.main-content__subtitle {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: inherit;
  color: #283645;
}
.title {
  font-size: 24px;
  line-height: 29px;
  color: #283645;
  font-weight: 300;
}
@media (min-width: 660px) {
  .title {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 50px;
    line-height: 68px;
  }
}
.advantages {
  background-color: #f2f2f2;
}
.advantages__wrapper {
  padding-bottom: 325px;
  padding-top: 87px;
  display: flex;
  justify-content: center;
}
@media (min-width: 660px) {
  .advantages__wrapper {
    justify-content: flex-end;
    padding-bottom: 49px;
    padding-top: 89px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    justify-content: center;
    padding-bottom: 59px;
    padding-top: 366px;
  }
}
.advantages__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 310px;
  row-gap: 43px;
  text-align: center;
}
@media (min-width: 660px) {
  .advantages__list {
    row-gap: 47px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    row-gap: 0;
    column-gap: 68px;
    text-align: center;
    grid-template-columns: 252px 252px 252px;
  }
}
.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .advantages__title {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
  }
}
.advantages__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .advantages__text {
    font-size: 18px;
    line-height: 30px;
  }
}
.benefit {
  display: none;
}
@media (min-width: 660px) {
  .benefit {
    display: block;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .benefit {
    display: block;
    background-color: #f2f2f2;
  }
}
.benefit__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.benefit__timer {
  width: 238px;
  height: 276px;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .benefit__timer {
    width: 298px;
    height: 345px;
    margin-top: 17px;
    align-self: flex-start;
  }
}
.benefit__time {
  font-size: 96px;
  font-weight: 700;
  line-height: 163px;
  color: #d22856;
}
.benefit__info {
  width: 310px;
  margin-bottom: 31px;
  text-align: left;
}
@media (min-width: 1200px) {
  .benefit__info {
    width: 534px;
    margin-bottom: 120px;
    margin-top: 115px;
  }
}
.benefit__title {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  max-width: 168px;
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .benefit__title {
    max-width: 400px;
    margin-bottom: 37px;
    line-height: 30px;
  }
}
.benefit__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .benefit__text {
    margin-bottom: 47px;
    font-size: 18px;
    line-height: 30px;
  }
}
.benefit__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d22856;
}
@media (min-width: 1200px) {
  .benefit__link {
    font-size: 18px;
    line-height: 30px;
  }
}
.reviews {
  background-color: #ffffff;
}
.reviews__wrapper {
  position: relative;
  padding-top: 50px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 660px) {
  .reviews__wrapper {
    padding-top: 109px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    padding-top: 193px;
    padding-bottom: 52px;
  }
}
.reviews__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
@media (min-width: 1200px) {
  .reviews__item {
    width: 688px;
  }
}
.reviews__autor {
  margin-bottom: 31px;
}
@media (min-width: 660px) {
  .reviews__autor {
    order: 2;
    margin-bottom: 53px;
  }
}
@media (min-width: 1200px) {
  .reviews__autor {
    order: 2;
    margin-bottom: 0;
  }
}
.reviews__autor-name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}
@media (min-width: 660px) {
  .reviews__autor-name {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .reviews__autor-name {
    font-size: 24px;
    line-height: 30px;
  }
}
.reviews__autor-info {
  margin: 0;
  padding: 0;
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}
@media (min-width: 660px) {
  .reviews__autor-info {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .reviews__autor-info {
    font-size: 18px;
  }
}
.reviews__blockquote {
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  width: 100%;
}
@media (min-width: 660px) {
  .reviews__blockquote {
    margin-bottom: 51px;
  }
}
.reviews__quote {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}
@media (min-width: 660px) {
  .reviews__quote {
    font-size: 18px;
  }
}
.reviews__toggles {
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  .reviews__toggles {
    display: none;
  }
}
.reviews__buttons {
  display: none;
}
@media (min-width: 1200px) {
  .reviews__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 213px;
    width: 100%;
  }
}
.price-rates {
  background-color: #f2f2f2;
  min-width: 100%;
}
.price-rates__wrapper {
  width: 276px;
  padding: 101px 50% 46px 50%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 660px) {
  .price-rates__wrapper {
    padding: 101px 20px 70px 20px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .price-rates__wrapper {
    padding: 159px 0 98px 0;
    width: 940px;
  }
}
.price-rates__table {
  position: relative;
  transform: translateX(-50%);
}
@media (min-width: 660px) {
  .price-rates__table {
    transform: none;
  }
}
.price-rates__caption {
  background-color: #283645;
  min-width: 276px;
  padding: 19px 0 35px 0;
}
.price-rates__caption--blank {
  background-color: transparent;
  display: none;
}
@media (min-width: 660px) {
  .price-rates__caption {
    padding: 16px 0 16px 0;
    min-width: 152px;
  }
  .price-rates__caption--blank {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .price-rates__caption {
    padding: 23px 0 25px 0;
    min-width: 233px;
  }
}
.price-rates__rate {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .price-rates__rate {
    font-size: 18px;
  }
}
.price-rates__price {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .price-rates__price {
    font-size: 24px;
  }
}
.price-rates__cell {
  background-color: #ffffff;
  padding: 19px 0;
}
.price-rates__cell:first-child {
  display: none;
}
@media (min-width: 660px) {
  .price-rates__cell {
    padding: 9px 0;
  }
  .price-rates__cell:first-child {
    display: inline-block;
    width: 100%;
    padding-left: 17px;
  }
}
@media (min-width: 1200px) {
  .price-rates__cell {
    padding: 16px 0;
  }
  .price-rates__cell:first-child {
    padding-left: 22px;
  }
}
.price-rates__attribute {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}
@media (min-width: 1200px) {
  .price-rates__attribute {
    font-size: 18px;
  }
}
.price-rates__toggles {
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;
  margin-top: 25px;
}
@media (min-width: 660px) {
  .price-rates__toggles {
    display: none;
  }
}
.contacts__wrapper {
  padding-top: 47px;
  padding-bottom: 41px;
  text-align: center;
}
@media (min-width: 660px) {
  .contacts__wrapper {
    padding-top: 55px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    padding-top: 74px;
    padding-bottom: 26px;
  }
}
.contacts__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 45px;
}
@media (min-width: 660px) {
  .contacts__title {
    margin-bottom: 51px;
  }
}
@media (min-width: 1200px) {
  .contacts__title {
    margin-bottom: 61px;
  }
}
.contacts__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 660px) {
  .contacts__list {
    display: grid;
    row-gap: 55px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: auto;
  }
}
@media (min-width: 1200px) {
  .contacts__list {
    width: 863px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
}
@media (min-width: 660px) {
  .contacts__item {
    margin-bottom: 0;
  }
  .contacts__item:nth-child(3) {
    grid-column: 1 / -1;
  }
}
@media (min-width: 1200px) {
  .contacts__item:nth-child(2) {
    order: 3;
  }
}
.contacts__span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 660px) {
  .contacts__span {
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .contacts__span {
    margin-bottom: 10px;
  }
}
.contacts__info {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #d22856;
}
.social-list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.contest-form__span {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}
.contest-form__achievements {
  background-color: #f2f2f2;
  border: none;
}
.contest-form__contacts {
  border: none;
}
.contest-form__apps {
  background-color: #f2f2f2;
  border: none;
}
.contest-form__comment {
  border: none;
}
.contest-form__input-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}
.contest-form__text-input {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}
.contest-form__text-input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}
.contest-form__legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}
.contest-form__legend--contacts {
  display: none;
}
.contest-form__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
}
.contest-form__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
}
.contest-form__asterisk {
  color: #d22856;
}
.contest-form__text {
  display: none;
}
.gallery__figure {
  margin: 0;
  padding: 0;
}
.gallery__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.gallery__figcaption {
  background-color: #f2f2f2;
}
.gallery__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #283645;
}
.gallery__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #283645;
  text-transform: uppercase;
}
.gallery__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}
.gallery__count {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
.photo-edit {
  background-color: #f2f2f2;
}
.photo-edit__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 30px;
}
.photo-edit__button--reset {
  color: #283645;
  border: 3px solid #283645;
  border-radius: 30px;
}
.photo-edit__button:disabled {
  opacity: 0.1;
}
/*# sourceMappingURL=style.css.map */
