// width //

@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;
@mobile-width-max: @tablet-width - 1;

// fonts //
@font-main: "Open Sans", sans-serif;
@font-weight-normal: 400;
@font-weight-bold: 700;
@font-weight-light: 300;
@font-size-main: 18px;
@line-height-main: 30px;

// colors //

@font-color-main: #283645;
@bg-color-main: #ffffff;

